@charset "UTF-8";

/******
	Définition des propriétés de style CSS
	Application LETG - Maddog
---
******/


/*  PARAMÈTRES GLOBAUX  */


/* Imports des fonts - Poppins Family GoogleFont */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Définition des variables */

:root {
   --mycolor: #13344B;
   --mycolor2: #6088bbff;
   --myfont: 'Roboto', sans-serif;
}


/** Propriétés spécifiques à MADDOG **/

/* Suppresion du panel de la légende */

#layers-container-box {
   display: none;
}



/**/

/* Modification des propriétés du logo */
img.mv-logo {
   max-height: 36px!important;
   max-width: 500px!important;
   margin-top: -6px!important;
}


/* Style modal */

.modal-content {
   border-radius: 2px!important;
}


/* PANEL DE CHARGEMENT */

#loading-page {
   font-family: var(--myfont) !important;
   font-size: 15px !important;
}

/* NAVBAR */

.navbar-header.fixed-brand {
   color: white;
}

#mv-navbar {
   font-family: var(--myfont);
   background-color: var(--mycolor);
   border: none;
   color: white;
   height: 65px;
   padding: 5px;
   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 8%);
}

.navbar-brand.menu-toggle {
   color: white!important;
}

.navbar-default .navbar-brand.menu-toggle:hover {
   color: white;
   background-color: #ffffff3b;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
   transition: background-color 0.5s ease-out;
   border-radius: 2px;
}

.navbar-default .navbar-brand:focus {
   color: white;
}

/* Titre de l'application */

.mv-title {
   color: white!important;
   font-size: 17px!important;
   font-weight: 300;
   margin-top: -8px;
}



/* Barre de recherche */

#searchtool {
   margin-right: 0!important;
   top: 0!important;
}

#searchfield {
   border-top-left-radius: 3px!important;
   border-bottom-left-radius: 3px!important;
   border: none;
}

#searchtool .btn-default {
   border-top-right-radius: 3px!important;
   border-bottom-right-radius: 3px!important;
   background-color: #ffffff!important;
   border-color: #ffffff00!important;
}

#searchtool .glyphicon.glyphicon-option-vertical {
   color: var(--mycolor);
}


/* Résulats de la recherche */

#searchresults {
   background-color: #ffffffe8;
   right: 65px!important;
   top: 70px!important;
   border-radius: 3px;
   font-family: var(--myfont);
   color: #333;
   box-shadow: 0px 0px 30px 3px rgb(200 200 200 / 40%);
   padding: 6px;
}

.searchresults-title {
   font-weight: 500;
   color: var(--mycolor);
   margin: 0!important;
   opacity: 0.9;
   border-radius: 3px;
   font-size: 14px;
}

.searchresults-title .close {
   color: var(--mycolor);
   text-shadow: none;
   font-weight: 600;
   font-size: 19px;
}

#searchresults a.list-group-item.disabled {
   color: var(--mycolor)!important;
   font-weight: 600;
   font-size: 12px!important;
}

a.geoportail.list-group-item:hover {
   background-color: #dddddd9e;
}

#searchresults a {
   font-size: 11px!important;
   border: none!important;
   padding: 10px 15px!important;
}


/* Bouton d'accueil */


/* Modification de l'icône */

#iconhelp span {
   /* display: none; */
   content: url(../img/house.svg);
   width: 18px;
}

#iconhelp {
   border-radius: 3px;
   background-color: #ffffff;
   padding: 7px 9px 5px;
   -webkit-transition: 0.4s ease;
   transition: 0.4s ease;
}

#iconhelp:hover {
   -webkit-transform: scale(1.08);
   transform: scale(1.08);
}


/* PANEL DE RECHERCHE */

#parameterspanel .modal-content {
   padding: 20px 15px;
   border-radius: 3px!important;
   font-family: var(--myfont);
   font-size: 12px;
}

#parameterspanel h5.modal-title {
   font-family: var(--myfont);
   font-weight: 600!important;
   font-size: 14px;
}

#parameterspanel .modal-header {
   padding: 10px;
}

#parameterspanel .modal-body {
   padding: 0;
   font-family: var(--myfont);
   font-weight: 400;
}

#parameterspanel .close {
   color: var(--mycolor)!important;
   opacity: 0.9!important;
}


/* PANEL DE PARTAGE */

#sharepanel .modal-content {
   padding: 20px 15px;
   border-radius: 10px!important;
   font-family: var(--myfont);
   font-size: 12px;
}

#sharepanel h4.modal-title {
   font-family: var(--myfont);
   font-weight: 600!important;
   font-size: 14px;
   text-align: left;
}

#sharepanel .modal-header {
   padding: 10px;
}

#sharepanel .modal-body {
   padding: 0;
   font-family: var(--myfont);
   font-weight: 400;
}

#sharepanel .close {
   color: var(--mycolor)!important;
   opacity: 0.9!important;
}


/* MENU DES COUCHES */

#sidebar-wrapper {
   font-family: var(--myfont);
   font-size: 1em;
}

#menu {
   margin-top: 65px;
}


/* Thématiques */

#menu>li>a {
   padding: 12px 10px 12px 5px!important;
   color: #777;
   font-weight: 600;
}


/* Badge / Nb couches */

.toggle-theme-layers .badge {
   font-family: var(--myfont);
   font-weight: 300!important;
   letter-spacing: 1px;
}

/* Survol des couches dans le menu */

#menu>li>a:hover {
   color: white;
   border: none;
   background-color: var(--mycolor2);
   opacity: 1;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
   transition: background-color 0.5s ease-out;
}

#menu .opened .nav-pills a:hover {
   background-color: var(--mycolor2);
   color: white!important;
   border: none;
}


/* Thématique ouverte */

#menu .opened a {
   color: var(--mycolor);
}


/* Modification des paramètres par défaut / Menu thématique*/


/* Couches */

#menu .opened .nav-pills a {
   color: #777;
   font-weight: 400;
}

ul.nav-pills.nav-stacked {
   padding: 0;
}

.nav-pills.nav-stacked ul a {
   padding: 15px 0px 15px 40px !important;
}




/* PANEL LEGENDE */

#layers-container-box {
   margin-left: 0px!important;
   font-family: var(--myfont);
   color: #555;
   padding: 15px;
   /* Modification de la taille du bloc initiale*/
   max-width: 350px!important;
}


/* Header */

#layers-container-box-header {
   background-color: var(--mycolor);
}


/* Titre de la légende */

.layerdisplay-title {
   padding: 0 20px!important;
}

.layerdisplay-title a {
   font-size: 13px;
   font-weight: 600;
   color: var(--mycolor)!important;
}


/* Supprimer la couche */

a.mv-layer-remove {
   position: absolute;
   top: 15px;
   margin: 0!important;
   width: 15px;
   padding: 0px;
}


/* Chevron vers les options */

.icon-options span {
   font-size: smaller;
}

.icon-options span:hover {
   opacity: 0.7;
}


/* Options de la couche */

.mv-layer-options {
   padding: 0px 0px 0px 0px!important;
   font-size: 12px;
   color: #555;
   font-size: 11px;
}

.mv-layer-options label {
   font-weight: 500;
   font-size: 12px;
   margin-bottom: 10px;
}

#layers-container .mv-layer-options p {
   padding: 0px!important;
   color: #555;
   font-size: 12px;
}

.mv-layer-options .row {
   margin-bottom: 10px!important;
}


/* Opacité */

.slider-selection {
   background: var(--mycolor);
   background-image: none!important;
}

.mv-layer-options .slider-track {
   height: 4px!important;
   margin-top: -6px!important;
}

.slider.slider-horizontal {
   width: 95%!important;
}

.slider-handle.min-slider-handle.round {
   background: var(--mycolor);
   width: 12px;
   height: 12px;
}

.slider-handle.min-slider-handle.round:hover,
.slider-handle.min-slider-handle.round:active {
   -webkit-box-shadow: 0px 0px 0px 4px rgba(38, 50, 57, 0.4);
   -moz-box-shadow: 0px 0px 0px 4px rgba(38, 50, 57, 0.4);
   box-shadow: 0px 0px 0px 4px rgba(38, 50, 57, 0.4);
}


/* Select */

.mv-layer-options .form-control {
   border-radius: 10px;
   border: 1.9px solid #5555557a!important;
   color: #555!important;
   font-size: 12px;
   padding: 6px 10px;
}

.mv-layer-options .form-control:hover {
   background-color: #eee;
}


/* Temporalité - slider */

span.mv-time-player-selection {
   color: white;
   background-color: var(--mycolor);
   font-size: 10px;
   border-radius: 10px!important;
}

span.fa.mv-time-player {
   color: var(--mycolor);
   margin: 0px 5px;
}

.form-group-timer .slider-track-high {
   background-color: var(--mycolor)!important;
}

.slider-tick {
   width: 8px!important;
   height: 8px!important;
   background-color: var(--mycolor)!important;
}

.slider-tick.round:hover {
   -webkit-box-shadow: 0px 0px 0px 4px rgb(38 50 57 / 40%);
   -moz-box-shadow: 0px 0px 0px 4px rgba(38, 50, 57, 0.4);
   box-shadow: 0px 0px 0px 4px rgb(38 50 57 / 40%);
}

.slider-tick-label-container {
   padding-top: 2px;
}


/* Panel métadonnées */

.popover,
.arrow {
   border: none!important;
}

.popover-content {
   font-family: var(--myfont);
   font-size: 12px;
   padding: 20px 15px!important;
   color: white !important;
}

.popover-content p {
   margin-bottom: 20px!important;
}

.popover-content a {
   font-family: var(--myfont);
   color: white;
   background-color: var(--mycolor);
   padding: 8px 14px;
   border-radius: 15px;
   font-style: normal!important;
}

.popover-content a:hover {
   color: white!important;
   opacity: 0.8;
}


/** TOOLTIP > Nom des entités au survol **/

.tooltip-inner {
   font-family: var(--myfont)!important;
   font-size: 12px!important;
   padding: 8px!important;
   border-radius: 4px!important;
}


/** TOOLBAR **/

#zoomtoolbar {
   top: 75px!important;
}

#toolstoolbar {
   top: 165px!important;
}

#toolstoolbar .btn:hover,
#zoomtoolbar .btn:hover {
   color: var(--mycolor);
}


/* Mesures */

#drawtoolsoptions {
   right: 60px!important;
   top: 165px!important;
   box-shadow: 0px 0px 30px 3px rgb(200 200 200 / 50%);
}

#drawtoolsoptions .btn-default {
   border-radius: 0px;
   background-color: white;
}

#drawtoolsoptions .btn-default.active {
   color: #333!important;
   background-color: #ddd;
}

#drawtoolsoptions .btn-default:hover {
   color: #333333a8;
}


/* FOND DE PLAN */


/* Default */

#backgroundlayersbtn {
   box-shadow: 0px 0px 30px 3px rgb(60 60 60 / 38%)!important;
}


/** ATTRIBUTIONS OPENLAYERS + ECHELLE **/

.ol-control button {
   border-radius: 4px!important;
   background-color: var(--mycolor)!important;
   font-size: 12px!important;
   width: 25px!important;
   height: 25px!important;
   font-weight: 500!important;
}

.ol-attribution.ol-unselectable.ol-control.ol-collapsed {
   border-radius: 4px!important;
}

.ol-attribution.ol-unselectable.ol-control {
   padding: 0px;
   font-family: var(--myfont);
   box-shadow: 0px 0px 50px 3px rgb(60 60 60 / 10%)!important;
}

.ol-control button:hover,
.ol-control button:focus {
   opacity: 0.7;
   background-color: var(--mycolor)!important;
}


/* MESSAGES ALERTES */

#alerts-zone .alert {
   margin: 20px;
   font-family: var(--myfont);
   background-color: var(--mycolor);
   border: none;
   color: white;
}


/* TEMPLATES */


/* RIGHT */

#right-panel .carousel-inner {
   width: auto!important;
}

#right-panel .mv-header {
   padding-top: 70px!important;
}

#right-panel .mv-header {
   background-color: var(--mycolor);
   opacity: 0.9;
   color: white;
   font-family: var(--myfont);
   padding: 3px;
   /* font-size: 11px; */
}

#right-panel .mv-header h5 {
   font-size: 1em;
   font-weight: 500;
   line-height: 1.5!important;
   margin: 0;
   padding: 10px;
}

#right-panel .close {
   font-weight: 300!important;
   font-size: 20px!important;
   right: 15px!important;
   padding-top: 6px!important;
}

#right-panel .item.active {
   overflow-y: auto;
   padding-bottom: 150px!important;
}


/* Nav Templates */

.mv-tooltip {
   font-size: 11px;
   opacity: 0.9;
   font-family: var(--myfont);
}

#right-panel-selector .nav .active a {
   border-left: var(--mycolor) 2px solid!important;
   border: none;
}

#right-panel-selector .nav .active .fa {
   color: var(--mycolor);
}


/* Item GML */

#right-panel .item {
   font-family: var(--myfont);
   color: #555;
   font-size: 13px;
}

#right-panel .item .gml-item-title {
   font-size: 16px;
   font-weight: 700;
}


/* Chevrons + Badge */

span.badge.counter-slide {
   font-family: var(--myfont);
   font-weight: 400!important;
   letter-spacing: 1px;
}

#right-panel span.counter-slide {
   right: 255px!important;
   background-color: var(--mycolor);
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
   font-size: 18px!important;
}


/* BOTTOM-PANEL */

#bottom-panel-btn .fa-chevron-down {
   background: var(--mycolor);
   color: #fff;
}

#bottom-panel-btn .fa-chevron-down:hover {
   background: #05afa8;
   color: #fff;
}

#bottom-panel .mv-header h5 {
   font-family: var(--myfont);
   color: var(--mycolor);
   font-size: 14px;
   font-weight: 600;
}


/* TEMPLATE Chevrons + Badge */

span.badge.counter-slide {
   font-family: var(--myfont);
   font-weight: 400!important;
   letter-spacing: 1px;
}

#right-panel span.counter-slide {
   right: 255px!important;
   background-color: var(--mycolor);
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
   font-size: 18px!important;
}


/* POP-UP ALERTE ERROR */

.swal2-popup.swal2-modal {
   font-family: var(--myfont);
}

button.swal2-confirm.swal2-styled {
   background-color: #442f8a;
}

.swal2-icon.swal2-warning.swal2-icon-show {
   color: #442f8a;
   border-color: #442f8a;
}

.swal2-icon.swal2-info.swal2-icon-show {
   color: #442f8a;
   border-color: #442f8a;
}


/* PROPRIETES SPECIFIQUES AUX MODES SIMPLIFIE, ULTRA-SIMPLIFIE & MOBILE */


/* SIMPLIFIE */

.xs.mode-s #layers-container-box-header {
   display: none;
}

.xs.mode-s #btn-mode-su-menu {
   width: 40px;
   height: 40px;
   border-radius: 10px!important;
   background-color: var(--mycolor);
   color: white;
   font-size: 14px;
   padding: 10px;
}

.xs.mode-s #btn-mode-su-menu:hover {
   opacity: 0.9!important;
}

.xs.mode-s .modal-content {
   border-radius: 10px!important;
   padding: 10px!important;
   font-family: var(--myfont);
   background-color: #fffffff7!important;
}

.xs.mode-s .modal-title {
   color: var(--mycolor);
}

.xs.mode-s .mv-theme {
   color: #555;
}

.xs.mode-s .mv-theme h4 {
   font-size: 12px!important;
}


/* ULTRA-SIMPLIFIE */

.xs.mode-u #layers-container-box-header {
   display: none;
}

.xs.mode-u #btn-mode-su-menu {
   width: 40px;
   height: 40px;
   border-radius: 10px!important;
   background-color: var(--mycolor);
   color: white;
   font-size: 14px;
   padding: 10px;
   top: 10px!important;
}

.xs.mode-u #searchtool {
   top: 10px!important;
   right: 10px!important;
   font-family: var(--myfont);
}

.xs.mode-u #btn-mode-su-menu:hover {
   opacity: 0.9!important;
}

.xs.mode-u .modal-content {
   border-radius: 5px!important;
   padding: 10px!important;
   font-family: var(--myfont);
   background-color: #fffffff7!important;
}

.xs.mode-u .modal-title {
   color: var(--mycolor);
}

.xs.mode-u .mv-theme {
   color: #555;
}

.xs.mode-u .mv-theme h4 {
   font-size: 12px!important;
}


/* MOBILE */

.xs.mode-d .navbar-toggle {
   color: var(--mycolor);
   background-color: #ffffff;
   border: none;
}

.xs.mode-d .navbar {
   padding: 0!important;
}

.xs.mode-d .navbar-header.fixed-brand {
   padding: 5px;
}

.xs.mode-d .navbar-collapse {
   background-color: var(--mycolor);
}

.xs.mode-d .mv-nav a {
   color: white!important;
   /* padding: 0px; */
   font-weight: 500;
}

.xs.mode-d .modal-content {
   border-radius: 10px!important;
   padding: 10px!important;
   font-family: var(--myfont);
   background-color: #fffffff7!important;
}

.xs.mode-d .modal-title {
   color: var(--mycolor);
}

.xs.mode-d .mv-theme {
   color: #555;
}

.xs.mode-d .mv-theme h4 {
   font-size: 12px!important;
}

.xs.mode-d .mv-title {
   padding: 10px 0px!important;
}

.xs.mode-d .title-app,
.xs.mode-d .subtitle-app {
   font-size: 15px!important;
}

.xs.mode-d img.mv-logo {
   max-height: 35px!important;
}


/* MODULE REFERENTIEL */


/* Bloc légende */

.row .customOptionsBloc {
   margin: 0px 0px 15px 0px!important;
}


/* Texte */

.titleOption {
   font-size: 13px;
   font-weight: 600;
   margin-bottom: 5px;
}

.customOptionsBloc label {
   font-weight: 400;
   margin-bottom: 5px;
}

.customOptionsBloc p {
   line-height: 1.3;
}


/* Btn */

.btnTNT {
   padding: 6px 12px;
   border-radius: 15px;
   border: none;
   font-size: 12px;
}

.btnTNT:hover {
   opacity: 0.8;
}

.btn_cible {
   background-color: var(--mycolor);
   color: white;
}

.btn_vert {
   background-color: var(--mycolor2);
   color: white;
   text-transform: uppercase;
   padding: 6px 12px;
   border-radius: 15px;
   border: none;
   font-size: 12px;
}

.btn_reint {
   background-color: #ffffff00;
   color: #4c216e;
   border: 1px solid #4c216e;
   text-transform: uppercase;
   font-weight: 600;
   padding: 6px 12px;
   border-radius: 15px;
   font-size: 12px;
}

.btn_param {
   background-color: #ffffff00;
   color: var(--mycolor);
   border: 1px solid var(--mycolor);
   font-weight: 500;
   margin: 0px 0px 5px 0;
   padding: 6px 12px;
   border-radius: 15px;
   font-size: 12px;
}

.btn_param:hover {
   background-color: #00847f42;
}

.btn_vert2 {
   background-color: #ffffff00;
   color: var(--mycolor2);
   border: 1px solid var(--mycolor2);
   text-transform: uppercase;
   font-weight: 500;
   margin-right: 5px;
}


/* Input */

.customOptionsBloc input {
   padding: 5px 10px;
   border-radius: 15px;
   border: 1px solid;
   margin: 3px 0px 0px;
}

#projectName input {
   width: 100%;
}


/* - PROPRIÉTÉS POUR GÉRER LES FONCTIONNALITES SPECIFIQUES / ISSUES DE SIMFEN - */

#resultBox {
   position: absolute;
   display: inline-block;
}

#mouse-position {
   width: auto;
   position: absolute;
   right: 6%;
   height: 20px !important;
   bottom: 11px;
   color: #000000 !important;
   background-color: rgba(255, 255, 255, 1) !important;
   text-align: center;
   font-size: 16px !important;
   font-family: 'roboto_regular', Arial, Sans-serif;
   outline: rgba(255, 255, 255, 0.7) solid 0px !important;
   border: rgba(119, 119, 119, 0) solid 0px !important;
   border-top-color: rgba(119, 119, 119, 0) !important;
   border-top-color: rgba(119, 119, 119, 0) !important;
   border-radius: 30px !important;
   padding-left: 5px !important;
   padding-right: 5px !important;
}

.glyphicon {
   font-family: inherit;
}

.glyphicon:before {
   font-family: 'Glyphicons Halflings';
}

#bottom-panel.active.extend {
   height: 90%;
   opacity: 1;
}

#graphFlowSimulated {
   width: 60%;
   margin-left: 30%;
}

#table_sol_div {
   overflow-y: auto;
   height: 270px;
}

#graphFlowSimulatedExtend {
   height: 85vh;
   width: 85vw;
   padding-left: 1%;
}


/* Progress bar */

#timerKillProcess {
   font-family: var(--myfont);
   color: #555;
   font-weight: 300;
   text-align: center;
   margin: 10px 0px 5px;
}

#processingBar {
   height: 20px;
   border-radius: 20px;
   text-align: center;
   width: 100%;
   background-color: #00847f73 !important;
   box-shadow: none;
   margin: 7px 0px;
}

#progression {
   background-color: #00847f !important;
}

#toolsBoxPopup {
   margin-left: 10px;
   width: 25%;
   position: absolute;
   font-family: var(--myfont);
   color: #555;
}

#processing-text {
   text-align: center;
   width: 100%;
   color: white;
   font-size: 12px;
   position: absolute;
   font-family: var(--myfont);
   padding: 1px 0px;
}


/* Position : Bar de chargement dans la map */

#processingBar {
   position: fixed;
   top: 13%;
   right: 5%;
   width: 20em;
   background-color: white;
}

#timerKillProcess {
   position: fixed;
   top: 10%;
   right: 5%;
   width: 20em;
}
/*-*/

#bottom-panel-btn-extend {
   margin-left: 50px;
   margin-top: -17px;
   width: 40px;
   text-align: center;
   line-height: 1.7em;
   border-radius: 30px;
   font-size: 15px;
   position: absolute;
   color: var(--mycolor);
   border: 1px solid var(--mycolor);
}

.hidden {
   visibility: hidden;
}

#countdown {
   font-size: 16px;
}

#dismiss {
   position: initial;
   margin-left: 10px;
   font-size: 16px;
}

#dismiss:hover {
   color: rgb(121, 121, 121);
}

.tips {
   border: 1px solid black;
   text-align: center;
   vertical-align: middle;
   font-size: 18px;
}

.tips-number-cell {
   width: 51px;
}

.tips-number {
   font-size: 35px;
}

.circle {
   width: 175px;
   height: 175px;
   border-radius: 50%;
   transform: rotate(-45deg);
   text-align: center;
   display: inline-block;
   margin-left: 20px;
   margin-top: 30px;
   border-top-right-radius: 0%;
   /*border: 5px solid #2E5367;*/
   position: relative;
}

.water-drop-text {
   width: 175px;
   height: 175px;
   font-size: 16px !important;
   color: white !important;
   transform: rotate(45deg);
   text-align: center !important;
   vertical-align: middle !important;
   position: relative;
   display: inline-block;
}

.number-step {
   font-size: 40px !important;
}


/* Position des légendes des couches WMS */

#legendwms {
   bottom: 5%;
   left: 35px;
   position: absolute;
}

/* - PROPRIÉTÉS POUR LES PANELS DES CONFIGURATIONS - */

#bottom-panel .popup-content {
   padding: 10px;
}

.titre_bottom {
   font-family: var(--myfont);
   font-size: 20px;
   font-weight: 500;
   color: var(--mycolor);
   margin: 0px 0px 10px 0px;
}

/* Caractéristiques des sols */

#table_sol {
   font-family: var(--myfont);
   border: none;
   color: #555;
   border-bottom: 1px solid var(--mycolor);
   margin-bottom: 10px;
}

#table_sol th {
   background-color: #00847fc7;
   color: white;
   padding: 12px;
   font-weight: 401;
   border: none;
}

#table_sol td {
   border: none;
   padding: 5px 0;
}

#table_sol tr:nth-child(odd) {
   background-color: #cecece5c;
}

#table_sol a {
   color: var(--mycolor) !important;
   font-style: normal!important;
}

#table_sol_div a {
   color: #555;
   font-family: var(--myfont);
   font-style: italic;
}

#table_sol input {
   border: 1px solid var(--mycolor);
   padding: 4px 0;
   width: 40%;
   text-align: center;
   border-radius: 20px;
   color: var(--mycolor);
}

/* Déclaration des flux d'Azote */

#toolsBoxPopup .custom-control-label {
   font-weight: 400;
   margin: 0px 5px;
}

#toolsBoxPopup .custom-control.custom-switch {
   margin: 10px 0px;
}

#graphFlowSimulated {
   height: 270px;
   border-radius: 5px;
}

.blockNoData {
   padding: 10%;
   text-align: center;
   font-family: var(--myfont);
   color: #777;
}

.imgNoData {
   width: 40px;
   margin: 0px 0px 10px 0px;
}

/* Registre Parcellaire graphique */

.inputRPG {
   margin: 20px 0px 30px;
}

.inputRPG label {
   font-weight: 600;
}

.inputRPG select {
   width: 40%;
   padding: 5px 10px;
   border-radius: 15px;
   border: 1px solid;
}

.titleGraph {
   font-family: var(--myfont);
   color: #555;
   font-size: 14px;
   text-align: center;
   position: absolute;
   top: 15%;
   left: 40%;
}

/* Station qualité NO3 */

.blockEau label {
   font-weight: 400;
}

.blockEau input {
   padding: 5px 10px;
   border-radius: 15px;
   border: 1px solid;
   margin: 0px 5px;
}

.legendEau {
   margin: 5px 0px;
}

.imgLegendStation {
   height: 18px;
   margin: 10px;
}


/* Téléchargement du référentiel */

#blockDownlRef {
   width: 160%;
}

.titleOptions {
   color: var(--mycolor);
   font-size: 15px;
   font-weight: 500;
   margin: 0 !important;
}

.downlOptions {
   background-color: rgba(128, 128, 128, 0.07);
   margin: 10px 0;
   padding: 15px 10px 15px 100px;
   border-radius: 5px;
}

.downlLink {
   color: var(--mycolor);
   font-style: italic;
}

.getZip {
   background-image: url('../img/get_zip.svg');
   background-repeat: no-repeat;
   background-size: 50px;
   background-position: center;
   background-position-x: 25px;
}

.getWMS {
   background-image: url('../img/get_wms.svg');
   background-repeat: no-repeat;
   background-size: 50px;
   background-position: center;
   background-position-x: 25px;
}