@charset "UTF-8";

/******
	Définition des propriétés de style CSS
	Application LETG - Maddog
   Module Import des données
---
******/


/*  PARAMÈTRES GLOBAUX  */


/* Imports des fonts - Poppins Family GoogleFont */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Définition des variables */

:root {
   --mycolor: #13344B;
   --mycolor2: #6088bbff;
   --myfont: 'Roboto', sans-serif;
}


/* Paramètres globaux */


body{
   font-family: var(--myfont);   
}

h1,h2,h3,h4,h5 {
   color: var(--mycolor);
}

p, label, select, input, footer, option {
   color: #494949!important;
   font-weight: 300!important;
}

a {
   color: var(--mycolor2);
}

a:hover {
   color: var(--mycolor2);
   font-weight: 400;
}

select, input {
   border-color: #4949493d!important;
}

.fs-7 {
   font-size: 0.9rem!important;
}

/* Container */

#containerForm {
   background-color: #f8f9fa;
   padding: 60px;
   border-radius: 1rem;
   margin: 20px auto;
}

/* Navbar */

.navbar {
   background-color: var(--mycolor);
   color: white;
   height: 65px;
}
 
/* Bouton */

.btn-primary {
   background-color: var(--mycolor);
   border: var(--mycolor);
}
.btn-primary:hover, .btn-primary:focus {
   color: #fff;
   background-color: var(--mycolor);
   border-color: var(--mycolor);
   opacity: 0.9;
}

/* Select & options */

option {
   padding: 10px!important;
}

/* Validation du formulaire */

.invalid-feedback {
   text-align: end;
   color: #f44336;
}