/******************************************************************************
--------------------------- CSS THEME MVIEWER / MADDOG -----------------
********************************************************************************/

/* Import des fonts*/
@font-face {
    font-family: 'roboto_black';
    src: url('/mviewer/css/font/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'roboto_bold';
    src: url('/mviewer/css/font/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'roboto_regular';
    src: url('/mviewer/css/font/Roboto/Roboto-Regular.ttf');
}
/*******************************
------------- NAVBAR 
********************************/
.navbar-default{
border-color:#38344D;
}

#mv-navbar{
border-color:#80C9C6;
background-color: #80C9C6;
}

.navbar-header.fixed-brand{
background-color: #80C9C6;
}

#mv-navbar a.navbar-brand, .mv-title{
color:#ffffff00!important;	
font-size: 20px;
text-transform: uppercase;
font-family: 'roboto', Arial, Sans-serif;
letter-spacing: 0.5px;
margin-left: 0px!important;
}

/* Titre de l'appli en transparent */
li.navbar-text.mv-title{
display: none;
}

/* Modification de la taille du logo */
img.mv-logo{
max-width: 240px!important;
max-height: 50px!important;
margin-left: -15px!important;
margin-top: -8px!important;
}

p.navbar-text.mv-title{
font-size: 18px;
font-family: 'roboto_bold', Arial, Sans-serif;
letter-spacing: 0.5px;
}

.navbar-default .navbar-toggle{
border-color: #ffffff;
}

.glyphicon-th-large:before{
color:#ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
background-color:#38344D;
}

.ol-control button {
color: #fff!important;
background-color: #38344D!important;
}

.ol-control button:focus, .ol-control button:hover {  
background-color: #38344D;
}

.gml-item-title {    
font-family: 'roboto_regular', Arial, Sans-serif;
color:#38344D;
font-size: 24px;
}

.popup-content .nav-tabs > li.active > a, .popup-content .nav-tabs > li.active > a:hover, .popup-content .nav-tabs > li.active > a:focus { 
border-left: thick solid #38344D!important;
}

#right-panel .mv-header {  
background-color: #38344D;
color: #fff;  
}

#right-panel .mv-header h5{  
font-family: 'roboto_bold', sans-serif;
font-size: 13px;
}

/*******************************
------------- MENU
********************************/

#sidebar-wrapper a{
font-family:'roboto_regular', Arial, Sans-serif;
}

#menu>li>a{
font-family:'roboto_bold', Arial, Sans-serif;
}

#menu li a:hover{
border-left:#38344D 0px solid;
background:#38344D;
color: #f8f8f8;
}

/*******************************
------------- BOTTOM PANEL
********************************/
#bottom-panel .mv-header h5{
font-family:'roboto_bold', Arial, Sans-serif;
color: #38344D;	
font-size:13px;
}

.fa-chevron-down{
color:#fff;
}
#bottom-panel-btn .fa-chevron-down { 
background: #38344D;
}

/*******************************
-------------LEGEND LAYER
********************************/

#layers-container a {
color: #38344D;
font-family: 'roboto_bold', Arial, Sans-serif;
}

.form-group label {
font-family: 'roboto_bold', Arial, Sans-serif;
}

#layers-container .mv-layer-options p {
font-family: 'roboto_regular', Arial, Sans-serif;
}

.form-control{
font-family: 'roboto_regular', Arial, Sans-serif;
color:#555!important;
}

.mv-layer-options{
color:#555!important;
}

/* Sub-title layers */
.selected-sld.fa span{
font-style: italic;
font-family: 'roboto_regular', Arial, Sans-serif;
}

/*Filtres*/
.selected-attribute.fa span{
font-style: italic;
font-family: 'roboto_regular', Arial, Sans-serif;
}

/* Opacité */
.mv-layer-options  .slider-selection{
background:#38344D;	
}

.mv-layer-options .slider-handle {
background: #38344D;
}

.mv-layer-options .tooltip-inner{
background-color:#38344D;
border-radius: 4px;
font-family: 'roboto_regular', Arial, Sans-serif;
}

.mv-layer-options .tooltip.top .tooltip-arrow{
border-top-color:#38344D;
}

/* Temporalité */ 

.mv-layer-options  .form-group-timer .slider-selection{
background:#38344D;
-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.slider.slider-horizontal .slider-tick-label-container{
font-family:'roboto_regular', Arial, Sans-serif;
}

.slider-tick.round.in-selection{
background: #38344D;
background-image: none;
-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.form-group-timer .slider-tick.round{
background:#38344D;
background-image:none;
-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
opacity: 1;
}

.form-group-timer .tooltip.bottom .tooltip-arrow{
border-bottom-color:#38344D;
}

.mv-layer-options  .form-group-timer .slider-track-high{
background:#38344D;	
}

#layers-container-box-header {
background-color: #38344D;
}

span.mv-time-player-selection {
color: #fff;
font-size: 13px;
background-color: #38344D;
}

/*******************************
------------- BASEMAP
********************************/

ul#basemapslist p {
font-family: 'roboto_regular', Arial, Sans-serif;
}

ul#basemapslist  li.active{    
box-shadow: 0px 0px 2px 2px #38344D, 0px 0px 3px 3px rgba(200, 200, 200, 0.5);
}

.ol-scale-line-inner{
font-family: 'roboto_regular', Arial, Sans-serif;
}

/*******************************
------------- RIGHT PANEL
********************************/

h3.title{
font-family: 'roboto_regular', Arial, Sans-serif;
font-size: 24px;
color:#38344D;
}

h4.title{
font-family: 'roboto_regular', Arial, Sans-serif;
font-size: 16px;
color:#38344D;
}

.info{
font-family:'roboto_regular', Arial, Sans-serif;
}

/*******************************
------------- POPOVER
********************************/
.popover-content{
font-family: 'roboto_regular', sans-serif!important;
}

.popover-title{
font-family: 'roboto_bold', sans-serif!important; 
}	

/*******************************
------------- POPUP
********************************/
.popup-content {
font-family: 'roboto_regular', Arial, Sans-serif;  
}


/*******************************
------------- BUTTON RIGHT TOOLBAR
********************************/
#toolstoolbar.btn-warning{
background-color: #38344D;
border-color: #38344D;
}

#toolstoolbar.btn-warning:hover{
background-color: #38344D;
border-color: #38344D;
}

#alerts-zone .alert.alert-info {
background-color: #38344D;
color: #fff;
}

#alerts-zone .close {  
color: #fff;
text-shadow: 0 1px 0 #000;  
}

.datepicker .active {
background-color: #38344D!important;
}

.leftpanel-btn:hover {
color: #38344D;
}

/* Buttons tools*/
#drawtoolsoptions .btn-default.active, #drawtoolsoptions .btn-default:active, #drawtoolsoptions .btn-default.focus, #drawtoolsoptions .btn-default:focus {
background-color:#38344D;
border-color:#38344D;
}

/* Tooltip measure */

.tooltip2 {
background: #38344D;
font-family: 'roboto_regular', Arial, Sans-serif;
}

.tooltip-measure-static {
background-color: #38344D;
font-family: 'roboto_regular', Arial, Sans-serif;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
border-top: 6px solid #38344D;
}

.tooltip-measure-static:before {
border-top-color: #38344D;
}

/* custom-tooltip-feature */
.tooltip-feature.tooltip-inner {
background-color: rgba(51, 51, 51, 0.95);
padding: 8px 8px 8px;
color: #fff;
font-family: "roboto_regular", Arial, Sans-serif;
font-size: 12px;
letter-spacing: 1;
}

.tooltip.right .tooltip-feature.tooltip-arrow {
border-right-color: rgba(51, 51, 51, 0.95);
}

.tooltip.top .tooltip-feature.tooltip-arrow {
border-top-color: rgba(51, 51, 51, 0.95);
}

.tooltip.left .tooltip-feature.tooltip-arrow {
border-left-color: rgba(51, 51, 51, 0.95);
}

.tooltip-feature h5 {
margin-bottom: 0;
}

.tooltip-feature.tooltip.in {
opacity: 1;
}

/* Custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
background-color: #38344D;
padding: 8px 8px 8px;
color: #fff;
font-family: "roboto_regular", Arial, Sans-serif;
font-size: 11px;
letter-spacing: 1;
}

.tooltip.right .mv-tooltip.tooltip-arrow {
border-right-color: #38344D; 
}

.tooltip.top .mv-tooltip.tooltip-arrow {
border-top-color: #38344D; 
}

.tooltip.left .mv-tooltip.tooltip-arrow {
border-left-color: #38344D; 
}

/*******************************
------------- SEARCH TOOLBAR
********************************/

/* Searchresult */

#searchresults{
font-family:'roboto_regular',Arial, Sans-serif!important;
color: #555!important;
}

ul#searchparameters{
font-family: 'roboto_regular',Arial, Sans-serif;
}

/* Search toolbar */

#searchresults li.list-group-item.disabled {
background-color: #38344D;
border-color: #38344D;
color: white!important;
font-family: 'roboto_bold', Arial, Sans-serif!important;
}

#searchresults li a:hover {
font-family: 'roboto_bold', Arial, Sans-serif!important;
color: #38344D!important;
}

.popup-content .nav-tabs .active .glyphicon, .popup-content .nav-tabs .active .fa {
color: #38344D;  
}

a:hover{
color: #38344D;
}

#searchtool .btn-default{
color:#80C9C6;
}

#parameterspanel .modal-header{
color: #333;
font-size: 13px;
font-family: 'roboto_regular', Arial, Sans-serif!important;
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover{
color: #FFFFFF;
}

input#searchfield {
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
}

#searchtool .btn-default {
border-bottom-right-radius: 3px!important;
border-top-right-radius: 3px!important;
}

#searchtool {
margin-right: 0px!important;
}

/*******************************
------------- MAP OPTIONS
********************************/

/* Partager la carte*/
#sharepanel{
font-family:'roboto_regular', Arial, Sans-serif;
}

a#permalinklink{
font-family:'roboto_regular', Arial, Sans-serif;
}

.modal-content{
font-family: 'roboto_regular', Arial, Sans-serif;
}

/*******************************
------------- HELP / DOCUMENTATION
********************************/

/* Help button */

button.btn.btn-default.navbar-btn.mv-navbar-btn{
border-radius: 3px!important;
width:34px;
height:34px;
min-width:34px;
border: 0px!important;
font-family: 'roboto_black', Arial, Sans-serif;
color:#80C9C6;
font-size: 15px;
padding: 0px;
}

button.btn.btn-default.navbar-btn.mv-navbar-btn:hover{
background-color: rgba(255, 255, 255, 0.89);
}

button.btn.btn-default.navbar-btn.mv-navbar-btn:focus{
background-color: rgba(255, 255, 255, 255);
}

/* Help panel */

/** Nouveau design **/

#help .modal-header {
background-color: #38344d!important;
padding: 15px 20px!important;
}

#help .modal-header .close{
color: white!important;
opacity: 1!important;
}

#help .modal-body {
padding: 0px!important;
}

#help .modal-content{
font-family: 'roboto_regular', Arial, Sans-serif!important;
height: auto;
}

#help .nav-tabs{
border-bottom: 0px solid #38344D;
}

#help .nav-tabs>li>a{
border-radius: 0px 0px 0 0px!important;
color: #555;
}

#help .nav-tabs>li.active>a{
background-color: #38344D;
border-color: #38344D;
color: white!important;
border-bottom: 3px solid #82CAC8!important;
}

#help .modal-title{
font-size: 25px;
font-family: 'roboto_bold', Arial, Sans-serif;
color: #38344D;
}

#help .tab-pane h4{
font-family: 'roboto_bold', Arial, Sans-serif;
color: #38344D;
font-size: 20px;
}

#help .tab-pane h5{
font-family: 'roboto_bold', Arial, Sans-serif;
color: #38344D;
font-size: 15px;    
}

#help .tab-pane h6{
font-family: 'roboto_bold', Arial, Sans-serif;
color: #38344D;
font-size: 14px;
margin-bottom: 2px;
}

#help .tab-pane p{
color: #555;
font-size: 13px;
}

#help .tab-pane .visuel_tx{
color: #555;
font-size: 13px;
}

#help .tab-pane .visuel{
text-align: center;
}

/**/

#help .tab-content>.active{
padding: 30px 100px;
}    
.title-welcome{
padding-bottom: 10px;
font-family: roboto_bold;
font-size: 30px;
text-align: center;
}
.title-tab{
font-family: roboto_black;
font-size: 25px;
text-align: center;    
text-transform: uppercase;
color: #38344D;
}
.subtitle-tab{
padding-bottom: 10px;
font-family: roboto_bold;
font-size: 20px;
}
#h_keynumber{
text-align: center;
padding-top: 35px;
}
a.data-downl{
display:inline-block;
padding:0.5em 1em;
margin:0 0.3em 0.3em 0;
border-radius:0.3em;
box-sizing: border-box;
text-decoration:none;
font-family:'roboto_regular',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#38344D;
text-align:center;
transition: all 0.2s;
}
a.data-downl:hover{
background-color:#2A273F;
color: #ffffffc7!important;
}
.etude{
margin-bottom: 20px;
}
#h_partenaires img{
width: 90px;
margin-bottom: 5px;
}
#h_partenaires p{
line-height: 1.3;
}

/*design 2**/

.homeLogo{
text-align: center;
background-color: #38344d;
padding-bottom: 15px;
}

#help .nav-tabs > li {
float:none;
display:inline-block;
zoom:1;
}

#help .nav-tabs {
text-align:center;
}

#help .nav-tabs {
border-bottom: 1px solid #38344d;
background-color: #38344d;
}

#help .nav-tabs>li.active>a {
border-bottom: 3px solid #82CAC8!important;
}

#help .nav-tabs>li>a {
color: #fff;
font-size: 15px;
}

#help .nav-tabs>li>a:hover {
background-color: #38344d!important;
border-color: #f9f9f900!important;
border-bottom: 3px solid #82CAC8!important;
}

/*******************************
-------------CSS Fiche info GML
********************************/
.gml-item-field-name {
font-family: 'roboto_regular', Arial, Sans-serif;
}

.gml-item-field-value{
font-family: 'roboto_regular', Arial, Sans-serif;
}

/*******************************
-------------LOADER INDICATOR
********************************/
.mv-layer-indicator .loader {    
border-top: 1.1em solid rgba(3, 46, 70, 0.2);
border-right: 1.1em solid rgba(3, 46, 70, 0.2);
border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
border-left: 1.1em solid #38344D;
}

.mv-iframe-indicator .loader {     
border-top: 1.1em solid rgba(3, 46, 70, 0.2);
border-right: 1.1em solid rgba(3, 46, 70, 0.2);
border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
border-left: 1.1em solid #38344D;
}

/*******************************
-----------MENU THEMATIQUE
********************************/
li#theme-layers-zae a{
letter-spacing: -0.4px;
}

li#theme-layers-monterritoire {
background-color: #e5e5e5fa;
}

li#theme-layers-logement {
border-top: 2px solid #80c9c6;
}

