/* width */
::-webkit-scrollbar {
    width: 8px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px !important;
    border: 1px solid transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b5b1b1 !important;
    border-radius: 10px !important;
    border: 1px solid transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(40, 96, 144, 1) !important;
  }

  ::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

/**/
.template-panel {
    position: fixed;
    right: 0px;
    width: 50%;
    background-color: white;
	height: 100%;
	overflow: auto;
	max-height: 100%;
	
}

.template-panel>.panel-body{
    padding-top:80px;
}


/* HIDE NATIV MVIEWER UI*/

.navbar-brand.menu-toggle, #sidebar-wrapper {
	display:none !important;
}

#backgroundlayerstoolbar-default {
    right: 51%;
}

#backgroundlayerstoolbar-gallery {
    right: 51%;
}

#toolstoolbar {
    right: 51%;
}

#zoomtoolbar {
    right: 51%;
}

#layers-container-box {
    left: 0px;
    top: 5px;
}