<div class="template-panel panel">
  <div class="panel-body">
    <h4 class="modal-title">Hello Mad Dog !</h4>
  </div>
</div>

<div class="modal fade" id="template-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="template-modal-close" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <p>Volet d'information - mode mobile</p>
      </div>
    </div>
  </div>
</div>

